# Dependencies
node_modules
__pycache__
*.pyc
venv/
env/
.env
.aipd/

# Models & Databases
*.pt
*.onnx
*.db

# Uploads, Processed, Debug files
/backend/uploads/
/backend/processed/
/backend/debug_frames/
!/backend/uploads/.gitkeep
!/backend/processed/.gitkeep

# IDEs and OS files
.vscode
.DS_Store
sample_videos/
